@import "../../helpers/_variables.scss";
@import "../../helpers/_functions.scss";

.question-card {
    width: 100%;
    max-width: px(600);
    background-color: $color-secondary;
    border-left: px(5) solid;
    border-color: $color-accent-3;
    margin: $margin-small;
    color: $color-text-grey;
    padding: $padding-regular;

    ul {
        margin-top: $margin-regular;
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: $margin-small;

        li {
            padding: $padding-x-small $padding-small;
            background-color: $color-background;
            cursor: pointer;
        }
    }
}
